.block__results {
  margin-top: 26px;
  margin-left: 12px;
  grid-area: results;
  height: 540px;
  background: #ecf8ff;
  border-radius: 7px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
}

.header {
  padding: 10px;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #002a42;
}

.container {
  margin: 0 auto;
  max-width: 250px;
}

.results {
  margin: 10px 2px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  height: 465px;
  color: #002a42;
  overflow-y: auto;

}

.results::-webkit-scrollbar {
  width: 4.5;
}

.results::-webkit-scrollbar-track {
  background-color: transparent;
}

.results::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 39px;
}

.results::-webkit-scrollbar {
    width: 4.5px;
  }
  

