.stats {
  display: flex;
  justify-content:left;
  grid-area: avg;
  margin-left: 24px;
  align-items: end;
  
}

.stats p{
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #002a42;
}
