.category {
  display: flex;
  padding-left: 2px;
  align-items: center;
}

.category p {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;

  color: #002a42;
}

.category select {
  border: 0;
  width: 130px;
  height: 35px;
  background: #8bd5ff;
  border-radius: 12px;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #002a42;
  appearance: none;
}


