.stats {
  display: flex;
  justify-content:right;
  grid-area: avg_best;
  margin-right: 24px;
  
}

.stats__wrap p:first-child{
  text-align: center;
}

.stats p{
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;

  color: #002a42;
}
