.timer {
    display: grid;
    grid-template-areas: 
    "results category category"
    "results timer timer"
    "avg avg__best avg_best";
    grid-template-columns: minmax(105px, 300px) 313px 1fr;
    grid-gap: 10px;
    background-color: #BAE6FF;
    height: 100%;
}

