.header {
  display: flex;
  width: 100%;
  background: #8bd5ff;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}

.header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  white-space: nowrap;
  color: #005f95;
}
