.timer__field {
  grid-area: timer;
  text-align: center;
  /* padding-right: 190px; */
}

.scramble {
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #002a42;
  
}

.seconds {
  font-weight: 400;
  font-size: 250px;
  line-height: 332px;
  color: #002a42;
}

.millisec {
  font-weight: 400;
  font-size: 200px;
  line-height: 266px;
  color: #002a42;
}
