.menu__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 13px;
  padding: 2px 10px 2px 10px;
  justify-content: center;
  align-items: center;
  width: min-content;
  border-radius: 16px;
  text-decoration: none;
  text-emphasis: none;
  color: #002A42 ;
  transition: 0.4s all;

}

.menu__item:hover {

  background-color: #ecf8ff;

}

.menu__item img {
  margin-bottom: 4px;
  height: 44px;
}

.menu__item p {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  
}

.active {
  background-color: #ecf8ff;
}
